@model WebProject.Models.Post

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PostViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectOnSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectOnSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.AddressDetail.AddressString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.AddressDetail.AddressString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.AddressDetail.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.AddressDetail.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.AddressDetail.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.AddressDetail.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.AddressDetail.Award)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.AddressDetail.Award)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.AddressDetail.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.AddressDetail.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.HomeInformation.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.HomeInformation.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.HomeInformation.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.HomeInformation.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.HomeInformation.SquareMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.HomeInformation.SquareMeter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.HomeInformation.Bedroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.HomeInformation.Bedroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.HomeInformation.Toilet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.HomeInformation.Toilet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.HomeInformation.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.HomeInformation.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.NumberOfImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.NumberOfImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDetail.PriceString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDetail.PriceString)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
