@using System.Security.Claims
@using X.PagedList
@using X.PagedList.Mvc.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Motel.Areas.Post.Models.PostIndex

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!--Addtional links-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          rel="stylesheet" />
    <link href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
          rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
    <!--Self-written CSS-->
    <link href="~/css/post/home/index/styles.css" rel="stylesheet" />
    <link href="~/css/post/home/index/pagination.css" rel="stylesheet" />
}

@{
    var UserAccountId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="container-fluid" style="padding: 0">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/banner-01.jpg" class="d-block-background w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/banner-02.jpg" class="d-block-background w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/banner-03.jpg" class="d-block-background w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
            <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
            <span class="visually-hidden"></span>
        </button>

        <div class="search-bar mt-5">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="nhadatban" role="tabpanel" aria-labelledby="nhadatban-tab">

                    <div class="col-md-2">
                        <select class="form-control">
                            <option>Hồ Chí Minh</option>
                            <!-- other options -->
                        </select>
                    </div>
                    <form asp-area="Post" asp-controller="Home" asp-action="Index"
                          method="get">
                        @Html.AntiForgeryToken()
                        <div class="col-md-8">
                            @*  <input type="text" class="form-control" placeholder="Nhập tối đa 5 địa điểm, dự án. Ví dụ: Quận Hoàn Kiếm, Quận Đống Đa"
                            id="searchInput" name="term"> *@
                            <input type="text" class="form-control"
                                   placeholder="Nhập tối đa 5 địa điểm, dự án. Ví dụ: Quận Hoàn Kiếm, Quận Đống Đa"
                                   id="searchInput" name="term">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-danger btn-block" @* id="searchButton" *@>Tìm kiếm</button>
                        </div>
                    </form>
                    <div class="w-100 mt-3"></div>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>Loại nhà đất</option>
                            <!-- other options -->
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>Mức giá</option>
                            <!-- other options -->
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control">
                            <option>Diện tích</option>
                            <!-- other options -->
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!--Content-->
<div class="container-fluid" style="padding: 0">
    <div class="col-md-3 table-price" style="top: -1px;">
        <div class="container border mb-3 search-by-price">
            <h6>Lọc theo khoảng giá</h6>
            <ul class="list-unstyled">
                <li><a href="#">Dưới 5 triệu</a></li>
                <li><a href="#">5 - 10 triệu</a></li>
                <li><a href="#">10 - 15 triệu</a></li>
                <li><a href="#">15 - 20 triệu</a></li>
                <li><a href="#">20 - 25 triệu</a></li>
                <li><a href="#">30 - 35 triệu</a></li>
            </ul>
        </div>
        <div class="container border mb-3 search-by-price">
            <h6>Lọc theo diện tích</h6>
            <ul class="list-unstyled">
                <li><a href="#">Dưới 50m²</a></li>
                <li><a href="#">50 - 70m²</a></li>
                <li><a href="#">70 - 100m²</a></li>
                <li><a href="#">100 - 150m²</a></li>
                <li><a href="#">150 - 200m²</a></li>
                <li><a href="#">200 - 400m²</a></li>
            </ul>
        </div>
    </div>

    <section class="info container mt-4">
        @foreach (var post in Model.Posts)
        {
            <div class="card mt-3">
                @if (post.VipName == "v6" || post.VipName == "v5")
                {
                    <div class="vip-badge">VIP KIM CƯƠNG</div>
                }

                <img src="@post.PostDetail.Images[0].Url" class="d-block w-100" alt="...">

                <div class="card-body">
                    <a asp-area="Post"
                       asp-controller="Modification"
                       asp-action="Detail"
                       asp-route-postId="@post.Id"
                       class="text-decoration-none text-black">
                        <h5 class="card-title">@post.SubjectOnSite</h5>
                        <p class="card-text text-danger font-weight-bold">
                            @post.PostDetail.Price VND/tháng ·
                            @post.PostDetail.HomeInformation.SquareMeter m² ·
                            @post.PostDetail.HomeInformation.Bedroom 🛏️ ·
                            @post.PostDetail.HomeInformation.Toilet 🛁 ·
                            @post.PostDetail.AddressDetail.City
                        </p>
                        <p class="card-text-description">@post.PostDetail.Description</p>
                    </a>
                    <div class="d-flex justify-content-between align-items-center">
                        <a asp-area="Customer"
                           asp-controller="Customer"
                           asp-action="Info"
                           asp-route-userAccountId="@post.OwnerId"
                           class="text-decoration-none text-black">
                            <div class="media align-items-center">
                                <img src="https://via.placeholder.com/40" class="mr-3 rounded-circle" alt="Avatar">
                                <div class="media-body">
                                    <h6 class="mt-0 mb-0">@post.ContactInfo.Name</h6>
                                    <small>@post.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")</small>
                                </div>
                            </div>
                        </a>
                        <div>
                            <form class="favorite-form" data-postid="@post.Id" data-userid="@UserAccountId">
                                <div class="d-flex justify-content-end align-items-center h-100">
                                    @*  <input type="hidden" class="post-id" value="@post.Id" /> *@
                                    @*   <input type="hidden" class="is-liked" value="@post.IsLiked" /> *@
                                    <button type="button" class="favorite-btn @(Model.FavoritePosts.Contains(post.Id) ? "active" : "")">
                                        <i class='bx bxs-heart'></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        }
    </section>

    <!--Pagination-->
    <div class="pagination justify-content-center">
        <ul class="pagination">
            @Html.PagedListPager(Model.Posts, page => Url.Action("Index", new { page, term = Model.CurrentTerm }), PagedListRenderOptions.PageNumbersOnly)
        </ul>
    </div>
</div>
<!-- Notification Element-->
<div id="notification" class="notification"></div>
@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/createconnection.js"></script>
    <!--Links-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!--Self-Written JS-->
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetTerm", "Home", new { area = "Post" })',
                method: 'GET',
                success: function (data) {
                    let subjects = data.filter(function (item) {
                        return item !== undefined && item !== null;
                    });

                    $("#searchInput").autocomplete({
                        source: subjects,
                        minLength: 1
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching subjects: " + error);
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetTerm", "Home", new { area = "Post" })',
                method: 'GET',
                success: function (data) {
                    $("#searchInput").autocomplete({
                        source: data,
                        minLength: 1
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching subjects: " + error);
                }
            });

            // $('#searchButton').click(function () {
            //     var subjectOnSite = $('#searchInput').val();

            //     console.log(subjectOnSite);
            //     if (subjectOnSite) {
            //         $.ajax({
            //             url: '@Url.Action("SearchBySubjectOnSite", "Home", new { area = "Post" })',
            //             method: 'POST',
            //             data: { subjectOnSite: subjectOnSite },
            //             success: function (response) {
            //                 console.log(response)
            //                 $('body').html(response);
            //             },
            //             error: function (xhr, status, error) {
            //                 console.error("Error searching posts: " + error);
            //             }
            //         });
            //     }
            // });
        });
    </script>
}
