@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Post/Views/_Modification_Layout.cshtml";
}

<main class="container-fluid">
    <style>
        .preview-image {
            max-width: 200px; /* Độ rộng tối đa là 100px */
            max-height: 200px; /* Chiều cao tối đa là 100px */
            margin: 5px; /* Khoảng cách giữa các hình ảnh */
        }
    </style>
    <div class="row">
        <!--This area will show form-->
        <div>
            @using (@Html.BeginForm("Add", "Post",
            FormMethod.Post,
            new { @id = "PostForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <!--Address information-->
                <section class="container-fluid border border-opacity-50 border-1 p-4">
                    <h5>Thông tin cơ bản</h5>
                    <div class="row row-cols-1">
                        <div class="form-group">
                            <label class="control-label mb-2">Loại hình cho thuê</label>
                            @Html.DropDownList("Categories", ViewBag.Categories as SelectList, "", new
                                {
                                    @class = "form-control rounded-1",
                                    id = "Categories",
                                    style = "max-width: 100%;"
                                })
                        </div>
                    </div>
                    <div class="row row-cols-2">
                        <div class="form-group">
                            <label class="control-label my-2" for="ApiId">Tỉnh/Thành phố</label>
                            @Html.DropDownList("ApiId", ViewBag.Cities as SelectList, "", new
                                {
                                    @class = "form-control rounded-1",
                                    id = "ApiId",
                                })
                        </div>
                        <div class="form-group">
                            <label class="control-label my-2" for="District">Quận/Huyện</label>
                            <select class="form-control"
                                    id="District" name="District">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label my-2" for="Ward">Phường/Xã</label>
                            <select class="form-control"
                                    id="Ward" name="Ward">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label my-2" for="Street">Đường/Phố</label>
                            <input type="text" class="form-control"
                                   id="Street" name="Street">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label mt-3 mb-2" for="AddressDetail">Địa chỉ hiển thị trên tin đăng</label>
                        <input class="form-control" type="text"
                               id="AddressDetail" name="AddressDetail"
                               style="max-width: 100%">
                    </div>
                </section>
                <!---->
                <!--Post infomation-->
                <section class="container-fluid border border-opacity-50 border-1 p-4 mt-3">
                    <h5>Thông tin bài viết</h5>
                    <div class="form-group">
                        <label class="label-control mb-2" for="Subject">Tiêu đề</label>
                        <textarea class="form-control" style="max-width: 100%" type="text"
                                  id="Subject" name="Subject"
                                  placeholder="VD: Bán nhà riêng 50m2 chính chủ tại Cầu Giấy"></textarea>
                        <p class="small mb-0">Đây là thông tin sẽ hiển thị ở đầu bài viết</p>
                    </div>
                    <div class="form-group mt-3">
                        <label class="label-control mb-2" for="Description">Mô tả</label>
                        <textarea class="form-control" style="max-width: 100%" type="text"
                                  id="Description" name="Description"
                                  placeholder="Nhập mô tả chung về bất động sản của bạn. Ví dụ: Khu nhà có vị trí thuận lợi, gần công viên, gần trường học"
                                  minlength="30" maxlength="3000"></textarea>

                    </div>
                </section>
                <!---->
                <!--Real estate infomation-->
                <section class="container border border-opacity-50 border-1 p-4 mt-3">
                    <h5>Thông tin bất động sản</h5>
                    <div class="form-group">
                        <label class="mb-2" for="Acreage">Diện tích</label>
                        <input type="text" class="form-control"
                               id="Acreage" name="Acreage"
                               placeholder="Nhập diện tích, VD: 80m2">
                    </div>
                    <div class="form-group">
                        <label class="my-2" for="PriceString">Mức giá</label>
                        <div class="d-flex">
                            <input type="text" class="form-control" style="margin-right: 15px;"
                                   id="PriceString" name="Price"
                                   placeholder="Nhập giá, VD 1.000.000">
                            <span class="input-group-text">VND</span>
                        </div>
                    </div>
                    <!--This is 3 buttons allow customer choose furrniture for post-->
                    <div class="form-group">
                        <label class="my-2" for="Furniture">Nội thất</label>
                        <div class="row d-flex">
                            <div class="col-7">
                                <div class="row-cols-3 d-flex justify-content-start">
                                    <div class="btn btn-secondary mx-2 btn-custom" id="fully">
                                        Đầy đủ
                                    </div>
                                    <div class="btn btn-secondary mx-2 btn-custom" id="basically">
                                        Cơ bản
                                    </div>
                                    <div class="btn btn-secondary mx-2 w-50 btn-custom" id="none">
                                        Không nội thất
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* @Html.HiddenFor(model => model.Furniture, new { @id = "Furniture" }) *@
                    </div>
                    <!---->
                    <!--These are basic infomation of (motel room or retal house)-->
                    <div class="form-group mt-5 d-flex">
                        <label class="label-control my-2 w-50" for="Bedrooms">Phòng ngủ</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-decrease-bedroom">-</button>
                            </span>
                            <input type="text" class="form-control text-center mx-3"
                                   id="Bedrooms" name="Bedrooms"
                                   value="0" readonly>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-increase-bedroom">+</button>
                            </span>
                        </div>
                    </div>
                    @*   @Html.HiddenFor(model => model.Bedroom, new { @name = "Bedroom", id = "Bedroom" }) *@

                    <div class="form-group mt-2 d-flex">
                        <label class="label-control my-2 w-50" for="Toilets">Toilet</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-decrease-toilet">-</button>
                            </span>
                            <input type="text" class="form-control text-center mx-3"
                                   id="Toilets" name="Toilets"
                                   value="0" readonly>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-increase-toilet">+</button>
                            </span>
                        </div>
                    </div>
                    @*  @Html.HiddenFor(model => model.Toilet, new { @name = "Toilet", id = "Toilet" }) *@

                    <div class="form-group mt-2 d-flex">
                        <label class="label-control my-2 w-50" for="Floors">Tầng</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-decrease-floor">-</button>
                            </span>
                            <input type="text" class="form-control text-center mx-3"
                                   id="Floors" name="Floors"
                                   value="0" readonly>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-increase-floor">+</button>
                            </span>
                        </div>
                    </div>
                    @* @Html.HiddenFor(model => model.Floor, new { @name = "Floor", @id = "Floor" }) *@
                    <!---->
                </section>
                <!---->
                <!--Part of chosing image-->
                <section class="container border border-opacity-50 border-1 p-4 mt-3">
                    <h4>Hình ảnh & Video</h4>
                    <p>Quy định đăng hình & video</p>

                    <ul>
                        <li class="text-danger">Ảnh đầu tiên sẽ là ảnh chính cho bài đăng</li>
                        <li>Hãy dùng ảnh thật, không trùng, không chèn SĐT</li>
                        <li>Tối đa là 10 ảnh</li>
                        <li>Mô tả ảnh tối đa 45 kí tự.</li>
                    </ul>

                    <button type="button" id="ChooseImageButton" class="btn btn-primary">Chọn ảnh</button>

                    <input type="file" id="FileInput" name="FileInput" accept="image/*" multiple style="display: none;">

                    <div id="ImagePreview"></div>
                </section>
                <!---->
                <!--Infomation of owner-->
                <section class="container border border-opacity-50 border-1 p-4 mt-3">
                    <h4>Thông tin liên hệ</h4>

                    <div class="row row-cols-2">
                        <div class="form-group">
                            <label class="label-control mb-2" for="YourName">Tên liên hệ</label>
                            <input type="text" class="form-control mb-2"
                                   id="YourName" name="YourName"
                            @* value="@Model.Info.Name" *@
                                   placeholder="Nhập tên của bạn">
                        </div>

                        <div class="form-group">
                            <label class="label-control mb-2" for="YourPhone">Số điện thoại</label>
                            <input type="tel" class="form-control"
                                   id="YourPhone" name="YourPhone"
                            @* value="@Model.Info.Phone" *@
                                   placeholder="Nhập số điện thoại">
                        </div>

                        <div class="form-group">
                            <label class="label-control mb-2" for="YourEmail">Email</label>
                            <input type="email" class="form-control"
                                   id="YourEmail" name="YourEmail"
                            @* value="@Model.Info.UserAccount.Email" *@
                                   placeholder="Nhập email">
                        </div>
                    </div>
                </section>
                <!---->
                <!--Chossing VIP for post-->
                @*  <section class="container border border-opacity-50 border-1 p-4 mt-3 d-flex justify-content-between">
            <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary my-1">
            <input type="radio"
            name="options" id="V1"
            value="V1" autocomplete="on"
            checked> 10 Token và 1 ngày đăng
            </label>
            <label class="btn btn-secondary my-1">
            <input type="radio"
            name="options" id="V2"
            value="V2" autocomplete="off"> 20 Token và 2 ngày đăng
            </label>
            <label class="btn btn-secondary my-1">
            <input type="radio"
            name="options" id="V3"
            value="V3" autocomplete="off"> 30 Token và 3 ngày đăng
            </label>
            <label class="btn btn-secondary my-1">
            <input type="radio"
            name="options" id="V4"
            value="V4" autocomplete="off"> 40 Token và 4 ngày đăng
            </label>
            <label class="btn btn-secondary my-1">
            <input type="radio"
            name="options" id="V5"
            value="V5" autocomplete="off"> 50 Token và 5 ngày đăng
            </label>
            <label class="btn btn-secondary my-1">
            <input type="radio"
            name="options" id="V6"
            value="V6" autocomplete="off"> 60 Token và 6 ngày đăng
            </label>
            </div>
            </section> *@
                @* @Html.HiddenFor(model => model.VipName, new { @id = "VipName", @name = "VipName" }) *@
                <!---->
                <div class="text-end">
                    <button type="submit" class="btn btn-danger mt-3 float-end">Đăng bài</button>
                </div>
            }
        </div>
        <!---->
    </div>
</main>

@section _Modification_Layout {
    <script src="~/js/post/modification/droplist.js"></script>
    <script src="~/js/post/modification/add.js"></script>
}

